@font-face {
  font-family: "Circular Air";
  src: url("./fonts/Circular_Air-Book.woff") format("woff"),
    url("./fonts/Circular_Air-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Circular Air";
  src: url("./fonts/Circular_Air-Bold.woff") format("woff"),
    url("./fonts/Circular_Air-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Circular Air";
  src: url("./fonts/Circular_Air-Light.woff") format("woff"),
    url("./fonts/Circular_Air-Light.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: Circular Air, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #383838;
}

.container {
  width: 976px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 576px) {
  .row-nowrap {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
}

@media screen and (max-width: 576px) {
  .col-xs-1 {
    flex-basis: 8.3333%;
  }

  .col-xs-2 {
    flex-basis: 16.6666%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
  }

  .col-xs-2:first-child {
    padding-left: 0;
  }

  .col-xs-2:first-child {
    padding-left: 0;
  }

  .col-xs-2:last-child {
    padding-right: 0;
  }

  .col-xs-2-airbnb {
    margin-right: 8.3333%;
  }

  .col-xs-2-discover {
    margin-right: 8.3333%;
  }

  .col-xs-3 {
    flex-basis: 25%;
    padding-left: 7px;
    padding-right: 7px;
    box-sizing: border-box;
  }

  .col-xs-3:first-child {
    padding-left: 0;
  }

  .col-xs-3:last-child {
    padding-right: 0;
  }

  .col-xs-3-settings {
    margin-right: 8.3333%;
  }

  .col-xs-4 {
    flex-basis: 33.3333%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
  }

  .col-xs-4:first-child {
    padding-left: 0;
  }

  .col-xs-4:last-child {
    padding-right: 0;
  }

  .col-xs-5 {
    flex-basis: 41.6666%;
  }

  .col-xs-6 {
    flex-basis: 50%;
  }

  .col-xs-7 {
    flex-basis: 58.3333%;
  }

  .col-xs-8 {
    flex-basis: 66.6666%;
  }

  .col-xs-9 {
    flex-basis: 75%;
  }

  .col-xs-10 {
    flex-basis: 83.3333%;
  }

  .col-xs-11 {
    flex-basis: 91.6666%;
  }

  .col-xs-12 {
    flex-basis: 100%;
  }
}

@media screen and (min-width: 576px) {
  .col-sm-1 {
    flex-basis: 8.3333%;
  }

  .col-sm-2 {
    flex-basis: 16.6666%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
  }

  .col-sm-2:first-child {
    padding-left: 0;
  }

  .col-sm-2:first-child {
    padding-left: 0;
  }

  .col-sm-2:last-child {
    padding-right: 0;
  }

  .col-sm-2-airbnb {
    margin-right: 8.3333%;
  }

  .col-sm-2-discover {
    margin-right: 8.3333%;
  }

  .col-sm-3 {
    flex-basis: 25%;
    padding-left: 7px;
    padding-right: 7px;
    box-sizing: border-box;
  }

  .col-sm-3:first-child {
    padding-left: 0;
  }

  .col-sm-3:last-child {
    padding-right: 0;
  }

  .col-sm-3-settings {
    margin-right: 8.3333%;
  }

  .col-sm-4 {
    flex-basis: 33.3333%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
  }

  .col-sm-4:first-child {
    padding-left: 0;
  }

  .col-sm-4:last-child {
    padding-right: 0;
  }

  .col-sm-5 {
    flex-basis: 41.6666%;
  }

  .col-sm-6 {
    flex-basis: 50%;
  }

  .col-sm-7 {
    flex-basis: 58.3333%;
  }

  .col-sm-8 {
    flex-basis: 66.6666%;
  }

  .col-sm-9 {
    flex-basis: 75%;
  }

  .col-sm-10 {
    flex-basis: 83.3333%;
  }

  .col-sm-11 {
    flex-basis: 91.6666%;
  }

  .col-sm-12 {
    flex-basis: 100%;
  }
}

@media screen and (min-width: 768px) {
  .col-md-1 {
    flex-basis: 8.3333%;
  }

  .col-md-2 {
    flex-basis: 16.6666%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
  }

  .col-md-2:first-child {
    padding-left: 0;
  }

  .col-md-2:first-child {
    padding-left: 0;
  }

  .col-md-2:last-child {
    padding-right: 0;
  }

  .col-md-2-airbnb {
    margin-right: 8.3333%;
  }

  .col-md-2-discover {
    margin-right: 8.3333%;
  }

  .col-md-3 {
    flex-basis: 25%;
    padding-left: 7px;
    padding-right: 7px;
    box-sizing: border-box;
  }

  .col-md-3:first-child {
    padding-left: 0;
  }

  .col-md-3:last-child {
    padding-right: 0;
  }

  .col-md-3-settings {
    margin-right: 8.3333%;
  }

  .col-md-4 {
    flex-basis: 33.3333%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
  }

  .col-md-4:first-child {
    padding-left: 0;
  }

  .col-md-4:last-child {
    padding-right: 0;
  }

  .col-md-5 {
    flex-basis: 41.6666%;
  }

  .col-md-6 {
    flex-basis: 50%;
  }

  .col-md-7 {
    flex-basis: 58.3333%;
  }

  .col-md-8 {
    flex-basis: 66.6666%;
  }

  .col-md-9 {
    flex-basis: 75%;
  }

  .col-md-10 {
    flex-basis: 83.3333%;
  }

  .col-md-11 {
    flex-basis: 91.6666%;
  }

  .col-md-12 {
    flex-basis: 100%;
  }
}

@media screen and (min-width: 992px) {
  .col-lg-1 {
    flex-basis: 8.3333%;
  }

  .col-lg-2 {
    flex-basis: 16.6666%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
  }

  .col-lg-2:first-child {
    padding-left: 0;
  }

  .col-lg-2:first-child {
    padding-left: 0;
  }

  .col-lg-2:last-child {
    padding-right: 0;
  }

  .col-lg-2-airbnb {
    margin-right: 8.3333%;
  }

  .col-lg-2-discover {
    margin-right: 8.3333%;
  }

  .col-lg-3 {
    flex-basis: 25%;
    padding-left: 7px;
    padding-right: 7px;
    box-sizing: border-box;
  }

  .col-lg-3:first-child {
    padding-left: 0;
  }

  .col-lg-3:last-child {
    padding-right: 0;
  }

  .col-lg-3-settings {
    margin-right: 8.3333%;
  }

  .col-lg-4 {
    flex-basis: 33.3333%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
  }

  .col-lg-4:first-child {
    padding-left: 0;
  }

  .col-lg-4:last-child {
    padding-right: 0;
  }

  .col-lg-5 {
    flex-basis: 41.6666%;
  }

  .col-lg-6 {
    flex-basis: 50%;
  }

  .col-lg-7 {
    flex-basis: 58.3333%;
  }

  .col-lg-8 {
    flex-basis: 66.6666%;
  }

  .col-lg-9 {
    flex-basis: 75%;
  }

  .col-lg-10 {
    flex-basis: 83.3333%;
  }

  .col-lg-11 {
    flex-basis: 91.6666%;
  }

  .col-lg-12 {
    flex-basis: 100%;
  }
}
